@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import '~bootstrap/scss/bootstrap';
@import '~resources/scss/partials/_variables.scss';
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	color: $dark-color;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

// header

header {

	.top-bar {
		height: 25px;
		font-size: 14px;
	}

	nav {
		li {
			a {
				color: $dark-color;
			}
		}

		.nav-voice:hover {
			a {
				color: $primary-color;
			}
			border-top: 5px solid transparent;
			border-bottom: 5px solid $primary-color;
		}
	}

	.search-bar {
		width: 150px;
    	border-bottom: 2px solid $primary-color;

		.search-input:focus {
			outline: none;
		}

		.search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			color: $dark-color;
			opacity: 1; /* Firefox */
		  }
	}
}

// jumbotron

.jumbotron {
	height: 300px;
	background-image: url(../img/jumbotron.jpg);
	background-size: cover;
}

// series

.series {
	font-size: 14px;

	.title-label {
		position: absolute;
		transform: translateY(-50%);
		background-color: $primary-color;
		padding: 0.5em 1em;
		top: 0;
	}

	.comic {
		img {
			width: 100%;
			aspect-ratio: 1/1;
			object-fit: cover;
			object-position: top;
		}

		a {
			color: $light-color;
		}
	}
	
	.load-more {
		width: 100%;
		display: flex;
		
		a {
			margin: 0 auto;
			padding: 0.5em 2em;
			background-color: $primary-color;
			color: $light-color;
			font-weight: 700;
		}
	}
}

// detail

.comic-bar {
	height: 80px;
}


// my-classes

.my-bg-dark {
	background-color: $dark-color;
	color: $light-color;
}

.my-bg-primary {
	background-color: $primary-color;
	color: $light-color;
}

.my-text-navy {
	color: $navy-color
}

.my-text-grey {
	color: $grey-color;
}